<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Util.Listener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="/Users/egeacar/IdeaProjects/SeleniumSampleProjectInsider/src/test/java/Tests/openHomePage.java">
        <classes>
            <class name="Tests.AutomationTest_UI">
            </class>
        </classes>
    </test>
</suite>